@{
    ViewData["Title"] = "Edit Profilo";
}


@model Profilo

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli Profilo</h1>
            </div>
            <p>
                <strong>Titolo:</strong>
                @Model.Name
            </p>

            <div>
                <a class="btn btn-primary" asp-action="Detail" asp-route-id="#">Modifica Nome</a>
                <a class="btn btn-primary" asp-action="Detail" asp-route-id="#">Cancella Account</a>
            </div>
        </div>
    </div>
</div>
      
    
    
